@media (max-width: 900px) {
  .header-navigation {
    display: none !important;
  }

  .header-navigation-mobile {
    display: block !important;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .nav-mobile {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}